redisvl
hf_xet
psycopg2-binary==2.9.9
psycopg[binary]
langchain==0.3.24
langchain-community==0.3.23
langchain-core==0.3.64
langchain-openai==0.3.14
langchain-qdrant==0.2.0
langgraph==0.3.33
langgraph-checkpoint-postgres==2.0.1
langgraph-sdk==0.1.70
langgraph-checkpoint==2.0.26
streamlit==1.47.1
streamlit-extras==0.7.8
plotly
pymongo[srv]
python-dotenv
redis
passlib
mysql-connector-python
bcrypt==4.0.1
PyJWT==2.10.1
qdrant-client==1.14.2
sentence-transformers==4.1.0
openai==1.98.0
fastapi==0.115.9